In [8]:
import os
import pandas as pd 
import pathlib

#loading the csv file
data_folder = pathlib.Path('data')
csv_path = data_folder / "readmission_dataset.csv"

df_readmission = pd.read_csv(csv_path)
df_readmission.head()

,patient_id,age,gender,admission_type,primary_diagnosis_code,num_prior_admissions,time_in_hospital,num_lab_procedures,num_medications,has_comorbidity,discharge_disposition,insurance_type,hospital_id,readmitted_within_30days,days_to_readmission
0,1,75,Other,Emergency,E11,0,5,88.0,35.0,1,Home,Medicare,5,1,7.0
1,2,72,Female,Elective,J45,0,6,46.0,24.0,0,Rehabilitation,Private,5,0,NaN
2,3,73,Female,Urgent,J45,0,3,22.0,3.0,0,Transfer,Private,3,0,NaN
3,4,61,Male,Elective,G47,0,4,14.0,4.0,1,Rehabilitation,Private,6,0,NaN
4,5,87,Female,Urgent,N39,3,6,35.0,28.0,1,Home,Private,3,1,9.0

In [ ]:
#checking the dataset size, columns, data types, and null values
df_readmission.head()
df_readmission.info()
df_readmission.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_id                10000 non-null  int64
 1   age                       10000 non-null  int64
 2   gender                    10000 non-null  object
 3   admission_type            10000 non-null  object
 4   primary_diagnosis_code    10000 non-null  object
 5   num_prior_admissions      10000 non-null  int64
 6   time_in_hospital          10000 non-null  int64
 7   num_lab_procedures        9865 non-null   float64
 8   num_medications           9836 non-null   float64
 9   has_comorbidity           10000 non-null  int64
 10  discharge_disposition     10000 non-null  object
 11  insurance_type            10000 non-null  object
 12  hospital_id               10000 non-null  int64
 13  readmitted_within_30days  10000 non-null  int64
 14  days_to_readmission       2707 non-null   float64
dtypes: float64(3), int64(7), object(5)
memory usage: 1.1+ MB

patient_id                     0
age                            0
gender                         0
admission_type                 0
primary_diagnosis_code         0
num_prior_admissions           0
time_in_hospital               0
num_lab_procedures           135
num_medications              164
has_comorbidity                0
discharge_disposition          0
insurance_type                 0
hospital_id                    0
readmitted_within_30days       0
days_to_readmission         7293
dtype: int64

In [19]:
#cleaning the dataset and saving it to a new csv file
print('original shape:', df_readmission.shape)

df_cleaned = df_readmission.dropna() 
print('cleaned shape:', df_cleaned.shape)
print(df_cleaned.isnull().sum())

df_cleaned.to_csv('cleaned_readmission_dataset.csv', index=False)

original shape: (10000, 15)
cleaned shape: (2613, 15)
patient_id                  0
age                         0
gender                      0
admission_type              0
primary_diagnosis_code      0
num_prior_admissions        0
time_in_hospital            0
num_lab_procedures          0
num_medications             0
has_comorbidity             0
discharge_disposition       0
insurance_type              0
hospital_id                 0
readmitted_within_30days    0
days_to_readmission         0
dtype: int64

In [20]:
#converting the cleaned dataset to a sqlite database
import sqlite3
df_cleaned = pd.read_csv('cleaned_readmission_dataset.csv') 
conn = sqlite3.connect('readmission_data.sqlite')
df_cleaned.to_sql('readmission_data', conn, if_exists='replace', index=False)

#test SQL query
cursor = conn.cursor()
cursor.execute("SELECT * FROM readmission_data LIMIT 5;")
rows = cursor.fetchall()
for row in rows:
    print(row) 

conn.close()

(1, 75, 'Other', 'Emergency', 'E11', 0, 5, 88.0, 35.0, 1, 'Home', 'Medicare', 5, 1, 7.0)
(5, 87, 'Female', 'Urgent', 'N39', 3, 6, 35.0, 28.0, 1, 'Home', 'Private', 3, 1, 9.0)
(14, 74, 'Male', 'Elective', 'E78', 0, 2, 100.0, 29.0, 0, 'Home', 'Medicare', 7, 1, 8.0)
(23, 54, 'Female', 'Urgent', 'J45', 2, 4, 90.0, 20.0, 0, 'Transfer', 'Private', 3, 1, 30.0)
(30, 70, 'Male', 'Emergency', 'E11', 2, 5, 65.0, 16.0, 0, 'Home', 'Private', 3, 1, 4.0)